/*
    Header with CRT Design
*/

h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: center;
    animation: textShadow 1.6s infinite;
    position: absolute;
    top: 50%;
    font-size: 50px;
}

h1::after {
    animation: flicker 0.15s infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;
    }
}

@keyframes flicker {
    0% {opacity: 0.27861;}
    5% {opacity: 0.34769;}
    10% {opacity: 0.23604;}
    15% {opacity: 0.90626;}
    20% {opacity: 0.18128;}
    25% {opacity: 0.83891;}
    30% {opacity: 0.65583;}
    35% {opacity: 0.67807;}
    40% {opacity: 0.26559;}
    45% {opacity: 0.84693;}
    50% {opacity: 0.96019;}
    55% {opacity: 0.08594;}
    60% {opacity: 0.20313;}
    65% {opacity: 0.71988;}
    70% {opacity: 0.53455;}
    75% {opacity: 0.37288;}
    80% {opacity: 0.71428;}
    85% {opacity: 0.70419;}
    90% {opacity: 0.7003;}
    95% {opacity: 0.36108;}
    100% {opacity: 0.24387;}
}

@keyframes textShadow {
    0% {text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    5% {text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    10% {text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    15% {text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    20% {text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    25% {text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    30% {text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    35% {text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    40% {text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    45% {text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    50% {text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    55% {text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    60% {text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    65% {text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    70% {text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    75% {text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    80% {text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    85% {text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    90% {text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    95% {text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    100% {text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
}

/*
    Scrolling Header Background
*/
.header-container {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.sliding-background {
    background: url("./media/header-background.png") repeat-x;
    height: 400px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1500px, 0, 0);
    }
}

body {
    background: wheat;
    margin: 0;
}

/*
    Main Game Overlay + Drawing Canvas
*/
#game-overlay {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    position: relative;
}

#gameboy-img {
    position: relative;
    justify-content: center;
    border: 5px solid black;
}

#game-screen {
    position: absolute;
    justify-content: center;
    width: 320px;
    height: 288px;
    display: flex;
    top: 90px;
    z-index: 1;
    background-color: black;
}

/*
    Main Control Block
 */
#control-block {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    border: 5px solid black;
}

#control-block > * {
    width: 33%;
}

button {
    background-color: #7C7C7C;
    border-bottom: 6px inset rgba(0,0,0,.5);
    border-left: 6px inset rgba(0,0,0,.5);
    border-right: 6px inset rgba(255,255,255,.5);
    border-top: 6px inset rgba(255,255,255,.5);
    box-sizing: border-box;
    color: white;

    display: inline-block;
    font-size: 1rem;
    margin: 1rem;
    padding: .5rem;
    text-transform: uppercase;
    cursor: crosshair;
}

button:hover {
    transition: 0.7s;
    background-color: green;
}

button:active {
    background-color: #cccccc;
}

input[type="file"] {
    display: none;
    cursor: pointer;
}

label[for="file-input"] {
    justify-content: center;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;

    background: #7C7C7C;
    border-bottom: 6px inset rgba(0,0,0,.5);
    border-left: 6px inset rgba(0,0,0,.5);
    border-right: 6px inset rgba(255,255,255,.5);
    border-top: 6px inset rgba(255,255,255,.5);
    box-sizing: border-box;
    color: white;

    font-size: 1rem;
    margin: 1rem;
    padding: .5rem;
    cursor: pointer;
}

label[for="file-input"]:hover {
    cursor: pointer;
    transition: 0.7s;
    background: green;
}

/*
    Speed Control Block
*/
form[id="speed-control"] {
    display: grid;
    border-style: solid;
    background-color: #7C7C7C;
    color: white
}

input[id="#speed-slider"] {

}

label[for="speed-slider"] {
    text-transform: uppercase;
    text-align: center;
}

output {
    text-align: center;
}


.footer-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: black;
}

footer {
    font-size: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    color: white;
    z-index: 1;
    animation: textShadow 1.6s infinite;
}

footer::after {
    animation: flicker 0.15s infinite;
}

.pacman {
    left: 0;
    top: 50%;
    z-index: -1;
    background: url("./media/pacman.gif") no-repeat;
    width: 100%;
    height: 200px;
    animation: run 3.5s linear infinite,flicker 1.6s infinite;
}

@keyframes run {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translateX(100%);
    }
}